<h4>Dashboard for Peer Leaders and Health Professionals</h4>

<div>
    <div class="panel-heading" style="border: solid; size: 1px;">
      <h2 class="panel-title" style="color: black">Follow-Ups</h2>
    </div>

    <div class="panel-body" style="border: solid;">
      <%if !@notifications.empty? %>
        <div class="alert alert-danger">To Follow Up:
          <table class="table">
            <thead>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Meeting Date</th>
              <th>Days since meeting</th>
              <th>Add Comment</th>
            </thead>
              <% @notifications.each do |notification| %>
                <tr>
                  <td><%= Patient.find(notification[0]).last_name %></td>
                  <td><%= Patient.find(notification[0]).first_name %></td>
                  <td><%= Meeting.find(notification[1]).date %></td>
                  <td><%= ((Time.now - Meeting.find(notification[1]).date)/86400).floor.to_s + " days" %></td>
                </tr>



              <% end %>
        </div>
      <% end %>
    </div>
</div>

<p></p>

  <div class="panel-heading" style="border: solid; size: 1px;">
      <h2 class="panel-title" style="color: black">Meetings</h2>
  </div>

<div class="panel-body" style= "border: solid;">
    <div class="alert alert-safety">
     <h4>Past meetings</h4>
        <% @past_meetings.each do |meeting| %>

      <p><%= meeting.date %></p>

      <% end %>
    </div>

    <div class="alert alert-info">
     <h4>Today's meetings</h4>
        <% @today_meetings.each do |meeting| %>

      <p><%= meeting.date %></p>

      <% end %>
    </div>


      <div class="alert alert-safety">
        <h4>Future meetings</h4>
          <% @future_meetings.each do |meeting| %>

          <p><%= meeting.date %></p>

        <% end %>
      </div>
</div>
<p></p>
<div>
    <div class="panel-heading" style="border: solid; size: 1px;">
      <h2 class="panel-title" style="color: black">My Groups</h2>
    </div>

    <div class="panel-body" style="border: solid;">
      <div class="alert alert-safety">Group 4 </div>
    </div>
</div>
