
<% if current_user.is_admin? %>
      <h4>Administrator DashBoard</h4>


        <div>
            <div class="panel-heading">
              <h4 class="panel-title" style="color: black">Follow-Ups</h4>
            </div>

            <div class="panel-body">
                <div class="alert alert-safety">
              <%if !@all_notifications.nil? && !@all_notifications.empty? %>
                <div class="alert alert-danger">To Follow Up:
                  <table class="table">
                    <thead>
                      <th>Last Name</th>
                      <th>First Name</th>
                      <th>Meeting Date</th>
                      <th>Days since meeting</th>
                      <th>Peer Support Leaders</th>
                      <th>Followed Up?</th>
                    </thead>
                      <% @all_notifications.each do |notification| %>
                        <tr id="patient-<%=notification[0]%>-meeting-<%=notification[1]%>">
                          <td><%= Patient.find(notification[0]).last_name %></td>
                          <td><%= Patient.find(notification[0]).first_name %></td>
                          <td><%= Meeting.find(notification[1]).date %></td>
                          <td><%= ((Time.now - Meeting.find(notification[1]).date)/86400).floor.to_s + " days" %></td>
                          <td>
                            <% if !Meeting.find(notification[0]).users.nil? %>
                                      <ol>
                                      <% Meeting.find(notification[0]).users.each do |user| %>
                                          <li><%= user.full_name %></li>
                                      <% end %>

                                </ol>
                            <% end %>
                          </td>
                        <% end %>
                        <!-- for the followed up boxes -->
                        </tr>
                      </table>

                        <% @all_notifications.each do |notification| %>
                            <div class="attend-checked-form">
                              <form action="/meetings/<%= notification[1] %>/attends" method="post" class="checked_form form-inline" role="form">
                                <%= hidden_field_tag "attend[checked]", nil %>
                                <input class="attend_checked" name="attend[checked]" type="checkbox" />
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <input class="patient" name="attend[patient_id]" type="hidden" value="<%= notification[0] %>" />
                                <input class="meeting" name="attend[meeting_id]" type="hidden" value="<%= notification[1] %>" />
                                <input type="submit" value="submit" />
                                </form>
                            </div>
                          <% end %>





                  </div>
              <% end %>
            </div>

        </div>

<% elsif current_user.health_pro? %>

    <h4>Healthcare Professional Dashboard</h4>

      <div>
            <div class="panel-heading" style="border: solid; size: 1px;">
              <h2 class="panel-title" style="color: black">Follow-Ups</h2>
            </div>

            <div class="panel-body" style="border: solid;">
              <%if !@all_notifications.nil? && !@all_notifications.empty? %>
                <div class="alert alert-danger">To Follow Up:
                  <table class="table">
                    <thead>
                      <th>Last Name</th>
                      <th>First Name</th>
                      <th>Meeting Date</th>
                      <th>Days since meeting</th>
                      <th>Peer Support Leaders</th>
                      <th>Followed Up?</th>
                    </thead>
                      <% @all_notifications.each do |notification| %>
                        <tr id="patient-<%=notification[0]%>-meeting-<%=notification[1]%>">
                          <td><%= Patient.find(notification[0]).last_name %></td>
                          <td><%= Patient.find(notification[0]).first_name %></td>
                          <td><%= Meeting.find(notification[1]).date %></td>
                          <td><%= ((Time.now - Meeting.find(notification[1]).date)/86400).floor.to_s + " days" %></td>
                          <td>
                            <% if !Meeting.find(notification[0]).users.nil? %>
                                      <ol>
                                      <% Meeting.find(notification[0]).users.each do |user| %>
                                          <li><%= user.full_name %></li>
                                      <% end %>


                                </ol>
                            <% end %>
                          </td>
                        <% end %>
                        <!-- for the followed up boxes -->
                        </tr>
                      </table>

                        <% @all_notifications.each do |notification| %>
                            <div class="attend-checked-form">
                              <form action="/meetings/<%= notification[1] %>/attends" method="post" class="checked_form form-inline" role="form">
                                <%= hidden_field_tag "attend[checked]", nil %>
                                <input class="attend_checked" name="attend[checked]" type="checkbox" />
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <input class="patient" name="attend[patient_id]" type="hidden" value="<%= notification[0] %>" />
                                <input class="meeting" name="attend[meeting_id]" type="hidden" value="<%= notification[1] %>" />
                                <input type="submit" value="submit" />
                                </form>
                            </div>
                          <% end %>

                  </div>
              <% end %>
            </div>

        </div>






      <div class="panel-heading">
          <h4 class="panel-title" style="color: black">Meetings</h4>
      </div>

    <div class="panel-body" >
        <div class="alert alert-safety">
         <h5>Past meetings</h5>
         <% unless @past_meetings.nil? %>
              <% @past_meetings.each do |meeting| %>

            <p><%= meeting.date %></p>

            <% end %>
          <% end %>
        </div>

        <div class="alert alert-info">
         <h5>Today's meetings</h5>
         <% unless @today_meetings.nil? %>
                <% @today_meetings.each do |meeting| %>

              <p><%= meeting.date %></p>

              <% end %>
          <% end %>
        </div>


          <div class="alert alert-safety">
            <h5>Future meetings</h5>
            <% unless @future_meetings.nil? %>
                <% @future_meetings.each do |meeting| %>

               <p><%= meeting.date %></p>

              <% end %>
            <% end %>
          </div>
    </div>

<% else current_user %>
    <h4>Dashboard for Peer Leaders</h4>

    <div>
        <div class="panel-heading">
          <h4 class="panel-title" style="color: black">Follow-Ups</h4>
        </div>

        <div class="panel-body">
            <div class="alert alert-safety">
          <%if !@notifications.nil? && !@notifications.empty? %>
            <div class="alert alert-danger">To Follow Up:
              <table class="table">
                <thead>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Meeting Date</th>
                  <th>Days since meeting</th>
                  <th>Add Comment</th>
                </thead>
                  <% @notifications.each do |notification| %>
                    <tr id="patient-<%=notification[0]%>-meeting-<%=notification[1]%>">
                      <td><%= Patient.find(notification[0]).last_name %></td>
                      <td><%= Patient.find(notification[0]).first_name %></td>
                      <td><%= Meeting.find(notification[1]).date %></td>
                      <td><%= ((Time.now - Meeting.find(notification[1]).date)/86400).floor.to_s + " days" %></td>
                    </tr>
                  <% end %>
                  </table>

                        <% @notifications.each do |notification| %>
                            <div class="attend-checked-form">
                              <form action="/meetings/<%= notification[1] %>/attends" method="post" class="checked_form form-inline" role="form">
                                <%= hidden_field_tag "attend[checked]", nil %>
                                <input class="attend_checked" name="attend[checked]" type="checkbox" />
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <input class="patient" name="attend[patient_id]" type="hidden" value="<%= notification[0] %>" />
                                <input class="meeting" name="attend[meeting_id]" type="hidden" value="<%= notification[1] %>" />
                                <input type="submit" value="submit" />
                                </form>
                            </div>
                          <% end %>
            </div>
          <% end %>
        </div>
    </div>



      <div class="panel-heading">
          <h4 class="panel-title" style="color: black">Meetings</h4>
      </div>

    <div class="panel-body">
        <div class="alert alert-safety">
         <h5>Past meetings</h5>
         <% unless @past_meetings.nil? %>
              <% @past_meetings.each do |meeting| %>

            <p><%= meeting.date %></p>

            <% end %>
          <% end %>
        </div>

        <div class="alert alert-info">
         <h5>Today's meetings</h5>
         <% unless @today_meetings.nil? %>
                <% @today_meetings.each do |meeting| %>

              <p><%= meeting.date %></p>

              <% end %>
          <% end %>
        </div>


          <div class="alert alert-safety">
            <h5>Future meetings</h5>
            <% unless @future_meetings.nil? %>
                <% @future_meetings.each do |meeting| %>

               <p><%= meeting.date %></p>

              <% end %>
            <% end %>
          </div>
    </div>
    <div>
        <div class="panel-heading">
          <h4 class="panel-title" style="color: black">My Groups</h4>
        </div>

        <div class="panel-body">
          <div class="alert alert-safety">Group 4 </div>
        </div>
    </div>
<% end %>



<script type="text/javascript">
  $(".attend_checked").on('click', function(event){
    checkbox = $(this)
    parent_form = $(this).parent();
    parent_div = $(parent_form).parent();
    var valuesToSubmit = $(parent_form).serialize();
    meeting_id = $(parent_form).children('.meeting').val()
    url = '/meetings/' + meeting_id + "/attends"
    patient_id = $(parent_form).children('.patient').val()
    related_table = "#patient-" + patient_id + "-meeting-" + meeting_id
    $.ajax({
        type: "POST",
        url: url,
        data: valuesToSubmit,
        success: function(){
          $('body').prepend('<div id="attend-notifications"></div>')
          $('#attend-notifications').text("Successfully followed up")
          $('#attend-notifications').fadeOut(2000)
          $(related_table).fadeOut(2000)
        }
        }
      )
  });


</script>
