<p>
  <h4>Meeting Date:</h4>
  <%= @meeting.date %>
</p>

<p>
  <h4>Group:</h4>
  <%= @meeting.group.name %>
</p>

<p>
  <strong>Healthcare Professional</strong>
  <% @meeting.group.users.each do |user| %>
    <% if user.role=="1" %>
      <p><%= user.full_name %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Peer Leaders</strong>
  <% @meeting.group.users.each do |user| %>
    <% if user.role=="2" %>
      <p><%= user.full_name %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Patients</strong>
  <table class="table table-bordered table-hover patient-attendance">
    <tbody>
      <% @meeting.group.patients.each do |patient| %>
        <tr>
          <td>
            <% if !Attend.where(:patient_id => patient.id, :meeting_id => @meeting.id).empty? && Attend.where(:patient_id => patient.id, :meeting_id => @meeting.id).first.attended == true %>
              <button class="btn btn-danger attend-button">Not attended</button>
            <% else %>
              <button class="btn btn-success attend-button">Attended</button>
            <% end %>
          </td>
          <td>
            <%= link_to patient.last_name + ", " + patient.first_name , patient %>
            <input type="hidden" value="<%= patient.id %>">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<% if current_user.is_admin? %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
  <%= link_to 'Back', meetings_path %>
<% end %>

<script type="text/javascript">
  $(".attend-button").on('click', function(event){
    var button = $(this);
    var success = $(this).hasClass('btn-success');
    var meeting_id = <%= @meeting.id %>;
    var patient_id = $(this).parents('tr').find('input').attr('value');
    url = '/meetings/' + <%= @meeting.id %> + "/attends"

    $.ajax({
        type: "POST",
        url: url,
        data: {
          patient_id: patient_id,
          meeting_id: meeting_id,
          attended: success
        },
        success: function() {
          $('body').prepend('<div id="attend-notifications">Successfully updated attendance</div>')
          $('#attend-notifications').fadeOut(2000)

          if(success) {
            button.removeClass('btn-success').addClass('btn-danger').html("Not attended");
          }
          else {
            button.removeClass('btn-danger').addClass('btn-success').html("Attended");
          }
        }
     });
  });


</script>
