<p>
  <h4>Meeting Date:</h4>
  <%= @meeting.date %>
</p>

<p>
  <h4>Group:</h4>
  <%= @meeting.group.name %>
</p>

<p>
  <strong>Healthcare Professional</strong>
  <% @meeting.group.users.each do |user| %>
    <% if user.role=="1" %>
      <p><%= user.full_name %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Peer Leaders</strong>
  <% @meeting.group.users.each do |user| %>
    <% if user.role=="2" %>
      <p><%= user.full_name %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Patients</strong>
  <% @meeting.group.patients.each do |patient| %>
    <div class="attend-user-form">
      <form action="/meetings/<%= @meeting.id %>/attends" method="post" class="attend_form form-inline" role="form">
        <%= hidden_field_tag "attend[attended]", nil %>
        <input class="attend_checkbox" name="attend[attended]" type="checkbox" <%= 'checked value="1"' if !Attend.where(:patient_id => patient.id, :meeting_id => @meeting.id).empty? && Attend.where(:patient_id => patient.id, :meeting_id => @meeting.id).first.attended == true %> />
        <%= link_to patient.last_name + ", " + patient.first_name , patient %>
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input class="patient" name="attend[patient_id]" type="hidden" value="<%= patient.id %>" />
        <input class="meeting" name="attend[meeting_id]" type="hidden" value="<%= @meeting.id %>" />
      </form>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<script type="text/javascript">
  $(".attend_checkbox").on('click', function(event){
    checkbox = $(this)
    parent_form = $(this).parent();
    var valuesToSubmit = $(parent_form).serialize();
    meeting_id = $(parent_form).children('.meeting').val()
    url = '/meetings/' + meeting_id + "/attends"
    $.ajax({
        type: "POST",
        url: url,
        data: valuesToSubmit,
        success: function(){
          $('body').prepend('<div id="attend-notifications"></div>')
          $('#attend-notifications').text("Successfully updated attendance")
          $('#attend-notifications').fadeOut(2000)
        }
        }
      )
  });


</script>
