<p>
  <strong>Meeting Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Group:</strong>
  <%= @meeting.group.name %>
</p>

<h4>Healthcase Professional</h4>
<% @meeting.group.users.each do |user| %>
    <% if user.role=="1" %>
      <p><%= user.full_name %></p>
    <% end %>
  <% end %>

<h4>Peer Leaders</h4>
  <% @meeting.group.users.each do |user| %>
    <% if user.role=="2" %>
      <p><%= user.full_name %></p>
    <% end %>
  <% end %>



<h4>Patients</h4>
  <% @meeting.group.patients.each do |patient| %>
  <div class="attend-user-form">
    <form action="/meeting/<%= @meeting.id %>/attends" method="post">
    <%= patient.last_name %>
    <%= patient.first_name %>
    <input id="patient" name="attend[patient_id]" type="hidden" value="<%= patient.id %>" />
    <input id="attend" name="attend[group_id]" type="checkbox" value="<%= @meeting.id %>" />
    <input type="submit" value="submit form" />

  </div>
  <% end %>







<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
