<h2><%= @group.name %></h2>

<p>
   <% if @group.users.count > 0 %>
      <strong>Peer Support Leaders:</strong>
      <ul>
        <% @group.users.each do |user| %>
          <% if user.role == 2 %>
            <li><%= link_to user.full_name, user_path(user) %></li>
          <% end %>
        <% end %>
      </ul>
  <% else %>
    <strong>This group has no Peer Support Leaders assigned to it yet.</strong>
  <% end %>
</p>

<p>
  <% if @group.patients.count > 0 %>
    <strong>Patients:</strong>
    <ul>
    <% @group.patients.each do |patient| %>
      <li><%= link_to patient.first_name + ' ' +patient.last_name, patient_path(patient) %></li>
    <% end %>
    </ul>
  <% else %>
    <strong>This group has no patients assigned to it yet.</strong>
  <% end %>
</p>

<p>
  <% if @group.meetings.count > 0 %>
  <strong>Meetings:</strong>
    <ul>
    <% @group.meetings.each do |meeting| %>
      <li><%= link_to meeting.date, meeting %></li>
    <% end %>
    </ul>
  <% else %>
    <strong>This group has not had any meetings yet.</strong>
  <% end %>
</p>


<%= link_to "edit", edit_group_path(@group) %> |
<%= link_to "delete", @group, method: :delete, data: { confirm: "Are you sure?" } %>
