<h1><%= @group.name %></h1>

<p>
   <% if @group.users.count > 0 %>
    <strong>Peer Leaders/Health Professionals:</strong>
    <ul>
    <% @group.users.each do |user| %>
      <li><%= link_to user.first_name+' '+user.last_name, member %></li>
    <% end %>
    </ul>
  <% else %>
    <strong>This group has no users assigned to it yet.</strong>
  <% end %>
</p>

<p>
  <% if @group.patients.count > 0 %>
    <strong>Members:</strong>
    <ul>
    <% @group.patients.each do |member| %>
      <li><%= link_to member.first_name+' '+member.last_name, member %></li>
    <% end %>
    </ul>
  <% else %>
    <strong>This group has no patients assigned to it yet.</strong>
  <% end %>
</p>

<p>
  <% if @group.meetings.count > 0 %>
  <strong>Meetings:</strong>
    <ul>
    <% @group.meetings.each do |meeting| %>
      <li><%= link_to meeting.date %></li>
    <% end %>
    </ul>
  <% else %>
    <strong>This group has not had any meetings yet.</strong>
  <% end %>
</p>


<%= link_to "delete", @group, method: :delete, data: { confirm: "Are you sure?" } %>
