<h1> Update User Records</h1>
<%= form_for(@user) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%=f.label :phone %>
  <%= f.telephone_field :phone %>

  <%=f.label :group %>
  <%= f.collection_select :group_id, Group.order(:name), :id, :name, include_blank: true %>

  <%= f.submit "Update User" %>
<% end %>