<h1>User Records</h1>
<h3>Health Care Professionals</h3>
<table class="table">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
      <tbody>
        <% @users.each do |user| %>
        <% if user.role == 1 %>
        <tr>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          
          <td><%= link_to 'View', user_path(user) %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
</table>

<h3>Peer Leaders</h3>
<table class="table">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Group</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
      <tbody>
        <% @users.each do |user| %>
        <% if user.role != 1 %>
        <tr>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= Group.find(user.group_id).name if user.group_id %></td>
         
          <td><%= link_to 'View', user_path(user) %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
