<h1>User Record</h1>

<p>Last name: <%= @user.last_name %></p>
<p>First name: <%= @user.first_name %></p>
<p>Email: <%= @user.email %></p>
<p>Telephone Number: <%= @user.phone %></p>
<p>Leading Group: <%= Group.find(@user.group_id).name %></p>






