<h1> Update Patient Record</h1>
<%= form_for(@patient) do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%=f.label :phone %>
  <%= f.telephone_field :phone %>


  <%=f.label :group %>

  <%= f.collection_select :group_id, Group.all, :id, :name, include_blank: true %>


  <%= f.submit "Update Patient" %>
<% end %>

