<h1>Patient Records</h1>

<table class="table table-hover">
  <thead align="left">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Group</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody class="table table-hover">
    <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.last_name %></td>
      <td><%= patient.first_name %></td>
      <td><%= patient.email %></td>
      <td><%= patient.phone %></td>
      <td><%= patient.group.name unless patient.group.nil? %></td>
      <td><%= link_to 'View', patient %></td>
      <td><%= link_to 'Show', patient %></td>
      <td><%= link_to 'Add Comment', patient %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br>

<p>
    <%= link_to 'New Patient', new_patient_path %>
</p>
