<h1>Patient Records</h1>
<table style="width: 960px; height: 81px;" border="1">
  <thead align="left">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.email %></td>
      <td><%= patient.phone %></td>
      <td><%= link_to 'Show', patient %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
