<h1>Patient Record</h1>
<br/>
<style>
p {text-indent:10px;}
</style>
<div>
<p>    First Name: <%= @patient.first_name %></p>
<p>    Last Name: <%= @patient.last_name %></p>
<p>    Email: <%= @patient.email %></p>
<p>    Phone: <%= @patient.phone %></p>
<p>    Group:  <%= @patient.group.name unless @patient.group.nil? %></p>
</div>

<br/>
<h3>Comments</h3>

<%= form_for(@comment) do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment, :rows => "2", :class => "span6" %>


  <%# if @patient.meetings.count > 0 %>
    <%#= f.label :meeting_id %>
    <%#= select(:comment, :meeting_id, @patient.meetings.map{ |m| [m.date, m.id] },
          { :include_blank => true }) %>
  <%# end %>

  <%= f.hidden_field :patient_id, :value => @patient.id %>
  <%= f.submit "Add comment" %>
<% end %>

<table class="table">
<tr>
  <th>Author</th>
  <th>Comment</th>
  <th>Date</th>
  <th colspan="2">Actions</th>

</tr>

<% @patient.comments.order("created_at DESC").each do |comment| %>
<tr>
  <td><%= comment.user.first_name %> <%= comment.user.last_name %></td>
  <td><%= comment.comment %></td>
  <td><%= comment.created_at %></td>
  <td><%= link_to comment.meeting.date, meeting_path(comment.meeting.id) if comment.meeting %></td>
  <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
  <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<%= link_to "delete", @patient, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', patients_path %>
