<!DOCTYPE html>
<html>
<head>
  <title>PleasedApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <h4><%= msg %></h4>
      </div>
    <% end %>
  <% end %>

<div>
<a href="<%= root_path %>">
<%= image_tag "logo.jpg", "width" => 100, "height" => 100, "align" => "middle" %>
</a>
</div>

<% if current_user && current_user.is_admin?%>
  <%= render 'layouts/admin_dashboard' %>
<% elsif current_user %>
  <%= render 'layouts/user_dashboard' %>
 <% end %>

<div class="container">
	<%= yield %>
</div>

</body>

</html>
