<!DOCTYPE html>
<html>
<head>
  <title>PleasedApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <h4><%= msg %></h4>
      </div>
    <% end %>
  <% end %>


<%= image_tag "logo.jpg", "width" => 100, "height" => 100, "align" => "middle" %>


<% if @current_user %>
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href=/dashboard>Home</a>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">


          	<%= link_to "Groups", groups_path, "class" => "brand" %>
          	<%= link_to "Patients", patients_path, "class" => "brand" %>
          	<%= link_to "Meetings", meetings_path, "class" => "brand" %>
          	<%= link_to "Account", edit_user_registration_path, "class" => "brand" %>
            <% if current_user %>
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, "class" => "brand" %>
            <% end %>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>

        </div>
      </div>
    </div>
<% end %>


<div class="container">
	<%= yield %>
</div>
</nav>






</body>

<script type="text/javascript">

  $(".attend_checkbox").on("click", function(event){
    checkbox = $(this)
    parent_form = $(this).parent();
    var valuesToSubmit = $(parent_form).serialize();
    meeting_id = $(parent_form).children('.meeting').val()
    url = '/meetings/' + meeting_id + "/attends"
    $.post(url, valuesToSubmit, function(data)
    {

    })
  })

</script>


</html>
