<!DOCTYPE html>
<html>
<head>
  <title>PleasedApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <h4><%= msg %></h4>
      </div>
    <% end %>
  <% end %>



<div>
<a href=/dashboard>
<%= image_tag "logo.jpg", "width" => 100, "height" => 100, "align" => "middle" %>
</a>
</div>

<% if current_user && current_user.is_admin?%>
  <%= render 'layouts/admin_dashboard' %>
<% elsif current_user %>
  <%= render 'layouts/user_dashboard' %>

 <% end %>



<div class="container">
	<%= yield %>
</div>






</body>

<script type="text/javascript">

  //   $(".attend_checkbox").on("click", function(event){
  //   checkbox = $(this)
  //   parent_form = $(this).parent();
  //   parent_div = $(parent_form).parent();
  //   var valuesToSubmit = $(parent_form).serialize();
  //   meeting_id = $(parent_form).children('.meeting').val()
  //   url = '/meetings/' + meeting_id + "/attends"
  //   $.post(url, valuesToSubmit, function(data)
  //   {

  //   })
  // })


  $(".attend_checkbox").on("click", function(event){
    checkbox = $(this)
    parent_form = $(this).parent();
    var valuesToSubmit = $(parent_form).serialize();
    meeting_id = $(parent_form).children('.meeting').val()
    url = '/meetings/' + meeting_id + "/attends"
    $.ajax({
        type: "POST",
        url: url,
        data: valuesToSubmit,
        success: function(){
          console.log("sdsdsd");
          $('body').prepend('<div id="attend-notifications"></div>')
          $('#attend-notifications').text("Successfully updated attendance")
          $('#attend-notifications').fadeOut(2000)
        }
        }
      )


   //  .done(function( msg ) {
   //  alert( "Data Saved: ");
   //  $("body").prepend('<div class="alert alert-success></div>')
   //  var alerts = $('#alerts');
   //  alerts.append('<a class="close" data-dismiss="alert" href="#">&;</a>');
   //  alerts.addClass('alert alerts-success').fadeIn('fast');
   // });
  });





//   $.ajax({
//   type: "POST",
//   url: url,
//   data: valuesToSubmit
// })
//   .done(function( msg ) {
//     alert( "Data Saved: " + msg );
//   });






     // $.ajax({
     //        type: 'POST',
     //        url: url,
     //        data: {
     //            video_title: title,
     //            playlist_name: playlist,
     //            url: id,
     //            success: notify('success', 'saved!')
     //            error: notify('failure', 'not saved!')
     //        },

</script>


</html>
